@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.wv-100 {
    width: 100%;
}

.mr-50 {
    margin-top: 50px;
}

.mr-top-10 {
    margin-top: 15px;
}

.main {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 34px;
}

.heading {
    font-family: "DM Sans";
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    color: #1E0E62;
}

.perfect {
    font-family: "DM Sans";
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #1E0E62;
}

.p-1 {
    font-family: "DM Sans";
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #1E0E62;
}

.p-2 {
    font-family: "DM Sans";
    font-size: 14.7px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #A1A1B0;
}

.size-14 {
    font-size: 14px;
}

.right-main {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.right-box {
    width: 370px;
    height: 109.6px;
    align-items: center;
}

.news-box {
    width: 370px;
    height: 186px;
    border-radius: 10px;
    border: 2px solid #EBEAED;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 35px;
    padding-left: 35px;
}

.text-right {
    font-family: "DM Sans";
    font-size: 16.3px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #1E0E62;
}

.size-16 {
    font-size: 16px;
}

.mr-left-15 {
    margin-left: 15px;
}

.right-img {
    width: 170px;
    height: 105px;
}

.text-1 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 109px;
}

.size-18 {
    font-size: 18px;
}

.input-box {
    width: 220px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid #EBEAED;
    outline: none;
    padding-left: 20px;
}

.input-box::placeholder {
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #A1A1B0;
}

.send-btn {
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    background-color: #25DAC5;
    width: 80px;
    height: 50px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.btn {
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    width: 130px;
    height: 40px;
    border-radius: 100px;
    border: none;
    background: #E93A7D;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

@media (min-width:320px) {
    .col-sm-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width:992px) {
    .col-lg-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .mr-40{
        margin-left: 40px;
    }
}